<head>
        <title>CV John</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js"></script>
    </head>

<h1>Listing Objects to sell | <%= link_to 'Add New Object', new_objects_to_sell_path, class: 'btn btn-success'%> </h1>
<br>
<br>


<div class="row">
   <% @objects_to_sells.each do |objects_to_sell| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag(objects_to_sell.image.thumb.url, alt: 'Image') if objects_to_sell.image? %>
      <div class="caption">
        <h3><%= objects_to_sell.name %></h3>
        <p><%= truncate(objects_to_sell.description, :length => 200) %></p>
        <div class="badge badge-info text-block"> 
        <p><%= number_to_currency(objects_to_sell.price) %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">By: <%= User.find(objects_to_sell.user_id).email.split('@').first %> </small><br>
          <small class="text-muted">Created on: <%= objects_to_sell.created_at.strftime("%Y-%m-%d") %> </small><br>
          <small class="text-muted">Last updated: <%= objects_to_sell.updated_at.strftime("%Y-%m-%d") %> </small><br>
        </div>
        <p>
          <%= link_to 'Show', objects_to_sell, class: 'btn btn-success' %>
          <% if objects_to_sell.user_id == current_user.id %>
          <%= link_to 'Edit', edit_objects_to_sell_path(objects_to_sell), class: 'btn btn-info' %>
          <%= link_to 'Destroy', objects_to_sell, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>


