<%= form_for @event, html: { multipart: true } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
 
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">SCHEDULE A NEW EVENT</div>
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :title ,class: 'control-label' %><br>
      <%= f.text_field :title ,class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :description ,class: 'control-label'%><br>
      <%= f.text_area :description ,class: 'form-control'%>
    </div>
   
    <div class="row">
      <div class="col-md-6">
      <div class="field">
      <%= f.label :start %><br>
         <div class='input-group date' id='datetimepicker22'>
          <%= f.text_field :start, class:'form-control'%>
           <span class="input-group-addon">
           <span class="glyphicon glyphicon-calendar"></span>
           </span>
         </div>
        </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
      <%= f.label :location ,class: 'control-label'%><br>
      <%= f.text_field :location ,class: 'form-control'%>
    </div>
    </div>
   </div>
      
     <div class="row">
      <div class="col-md-6">
      <div class="field">
      <%= f.label :end %><br>
         <div class='input-group date' id='datetimepicker22'>
          <%= f.text_field :end, class:'form-control'%>
           <span class="input-group-addon">
           <span class="glyphicon glyphicon-calendar"></span>
           </span>
         </div>
        </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
      <%= f.label :price ,class: 'control-label'%><br>
      <%= f.text_field :price ,class: 'form-control'%>
    </div>
    </div>
   </div>
      

 <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
      <% if @event.image? %>
    <%= image_tag @event.image.thumb.url %>
    <div>
      <%= label_tag :remove_image do %>
        Remove image
        <%= f.check_box :remove_image %>
      <% end %>
    </div>
    
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
  
  </div>
</div>
   


<script>
  $(function () {
    $('#datetimepicker1').datetimepicker();
    dateFormat: 'yy-mm-dd hh:mm:ss'
 });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
